<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Wyszukaj użytkownika</title>

</head>

<body>
<h1>
    Wyszukaj użytkownika po nazwie
</h1>

<form action="#" th:action="@{/finduserresult/name}" method="post">


    <p><input type="submit" value="Znajdź"></p>
</form>

<!--<form action="#" th:action="@{/goback}" method="post">
    <input type="submit" value="Wroc do glownego menu" class="btn btn-red"/>
</form>-->

</body>
</html>