<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Show all users</title>

</head>

<body>
<h1>
    Wszystkie produkty w sklepie
</h1>
<table>
    <tr class="header">
        <th>Nazwa produktu </th>
        <th>Cena</th>
        <th>Ilość</th>
        <th>Akcja</th>
    </tr>

    <tr th:each="product: ${products}">
     <form action="/deleteproduct" method="post" th:object="${product}">
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.addDate}"></td>
        <td>
            <input type="hidden" name="productName" th:value="${product.productName}" />
            <button class="btn btn-success" value="remove">Usuń</button>
        </td>
        </form>
    </tr>
</table>

<form action="#" th:action="@{/goback}" method="post">
    <input type="submit" value="Wroc do glownego menu" class="btn btn-red"/>
</form>

</body>
</html>